.our-services{
    padding-top: 5%;
  }
  .slogan{
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  a{
    color:red;
  }
  .cover{
      position:fixed;
      background-color:white;
      left: 10%;
      right: 10%;
      color:black;
      background-image: url(https://img.freepik.com/premium-photo/yellow-bokeh-light-pink-background-abstract-wallpaper_647082-12.jpg?w=2000);
   }
  /* Main fixed heading */
  h1{
      text-align: center;
      font-size: 80px;
      font-family:Georgia, 'Times New Roman', Times, serif;
  }
  /* Other headings of this page */
  h2{
    text-align: left;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  /* 4 options below main fixed heading */
  .contain{
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      text-align:center;
      font-size: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .horizontal{
      display:flex;
      flex-direction: row;
  }
  .vertical{
      display:flex;
      flex-direction: column;
  }
  p,
  li{
      text-align: justify;
      font-size: 20px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      padding-left: 50px;
      padding-right: 50px;
  }
.products{
    padding-top: 20%;
    width: 100%;
    height: 700px;
    margin: 50 0 0 0;
}
.footer{
  background-image: url(https://img.freepik.com/premium-photo/yellow-bokeh-light-pink-background-abstract-wallpaper_647082-12.jpg?w=2000);
}
th{
  font-size: 30px;
}
.table{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding-left: 20px;
}
.contact-us{
  font-size: 30px;
  font-weight: bold;
}
.contact_us{
  margin-left:70%;
}
.bold-table-data{
    font-weight: bold;
    width: 20%;
}
.social-media-icons-white a{
    color:white;
    font-size:50px;
}
.fa {
    padding: 20px;
  text-align: center;
    margin: 5px 2px;
    font-size: 30px;
    width: 50px;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .fa:hover {
      opacity: 0.9;
  }
.contact-us{
    display: flex;
}
.buttons{
  text-align: center;
  font-size: 100px;
}
button:hover{
  background-color:black;
}
#link-for-page-numbers{
  color:black;
}
#link-for-page-numbers:hover{
  background-color: black;
  color:white;
}
.flex-feedbacks{
  display:flex;
  flex-direction: row;
  text-align: center;
  width:80%;
}
#h1-feedback{
  padding-top: 25%;
}
.image{
  text-align: center;
  width: 580px;
}
#Feedback{
  text-align: center;
}
